<div class="container">
    <nav class="navbar navbar-default" style="background-color: red">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-controller="Home" asp-action="Index" class="navbar-brand dancing-font menu-color" style="font-size:30px">Wishlist</a>
            </div>
            <div class="navbar-collapse collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle menu-color" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-cog"></i>&nbsp;@User.Identity.Name<span class="caret"></span></a>
                            <ul class="dropdown-menu dropdown-color">
                                <li style="margin-top: 2px; margin-bottom: 2px; border: 0; border-top: 1px solid rgba(0, 0, 0, 0.1);"> </li>
                                <li><a class="menu-color" asp-controller="Account" asp-action="Logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a class="menu-color" asp-controller="Account" asp-action="Login"><i class="fas fa-sign-in-alt"></i> Sign In</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
