<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>@ViewBag.Title</title>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Dancing+Script:400,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/css/site.css" />
<environment include="Development">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</environment>
<environment exclude="Development">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
          asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
</environment>
<link href="~/lib/kartik-v-bootstrap-star-rating/css/star-rating.css" media="all" rel="stylesheet" type="text/css" />
<!-- custom theme to get dollar signs instead of stars -->
<link href="~/lib/kartik-v-bootstrap-star-rating/themes/krajee-fa/theme.css" media="all" rel="stylesheet" type="text/css" />