<!DOCTYPE html>

<html>
<head>
    @{ await Html.RenderPartialAsync("_HeadCommonPartial"); }
</head>
<body>
    @{ await Html.RenderPartialAsync("_BodyUpperCommonPartial"); }
    @RenderBody()
    @{ await Html.RenderPartialAsync("_BodyLowerCommonPartial"); }
</body>
</html>

