<!DOCTYPE html>

<html>
<head>
    @{ await Html.RenderPartialAsync("_HeadCommonPartial"); }
</head>
<body>
    @{ await Html.RenderPartialAsync("_BodyUpperCommonPartial"); }
    @RenderBody()
    @{ await Html.RenderPartialAsync("_BodyLowerCommonPartial"); }
    <link href="~/css/ChristmasTheme.css" rel="stylesheet" />
    <script src="~/js/backgroundScripts/Christmas.js"></script>
</body>
</html>