@model AddGiftRequest
@{
    ViewData["Action"] = "Add";
}
    <h3>Add gift</h3>
    <form asp-controller="Gift" asp-action="@ViewData["Action"]" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="font-weight-bold">Name</label><br />
            <input asp-for="Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Price" class="font-weight-bold">Price</label><br />
            <textarea asp-for="Price" rows="3"></textarea>
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Quantity" class="font-weight-bold">Quantity</label><br />
            <input asp-for="Quantity">
            <span asp-validation-for="Quantity" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Image" class="font-weight-bold">Choose picture</label><br />
            <input type="file" asp-for="Image" lang="en" accept=".jpg, .png, .jpeg|image/*">
        </div>

        <div>
            <input type="hidden" asp-for="EventId" value="@Model.EventId">
        </div>
        <button type="submit" class="btn btn-success">Add</button>
    </form>
<br />
<form asp-controller="Home" asp-action="Index" method="get">
    <button type="submit" class="btn btn-info">Cancel</button>
</form>
