@model List<Event>
<head>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
@if (User.Identity.IsAuthenticated)
{
    <h1>Upcoming events</h1>
}
else
{
    <h1>Please sign in!</h1>
}

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-horizontal">
                <div class="img-square-wrapper">
                    <a asp-controller="Event" asp-action="Add">
                        <img src="~/img/button_add/addEvent.png" width="550" height="150" alt="Add Event">
                    </a>
                </div>
            </div>
        </div>
    </div>
    @foreach (var events in Model)
    {
        <div class="col-md-6">
            <div class="card">
                <div class="card-horizontal">
                    <div class="img-square-wrapper">
                        <img src="#" width="300" height="150" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">@Html.DisplayFor(modelEvent => events.Name)</h4>
                        <p class="card-text"><b>Date:</b> @Html.DisplayFor(modelEvent => events.EventDate)</p>
                        <p class="card-text">Address: @Html.DisplayFor(modelEvent => events.Address)</p>
                        <div class="menu-button">
                            <form asp-controller="Event" asp-action="Show" method="get" asp-route-Id="@events.EventId">
                                <button type="submit" class="btn btn-success">Go to the event page</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>