@model List<Event>

<h1>Events</h1>
<div class="row">
    @foreach (var events in Model)
    {
        <div class="col-md-6">
            <div class="card">
                <div class="card-horizontal">
                    <div class="img-square-wrapper">
                        <img src="#" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        
                    </div>
                </div>
            </div>
        </div>
    }
</div>