@{
    ViewData["Title"] = "Sign In to Wishlist";
}
@model LoginRequest

<h1 class="black">Please sign in</h1>

<div class="row">
    <center>
        <div class="col-md-12">
            <form asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                @foreach (var provider in Model.ExternalLogins)
                {
                    <button type="submit" name="provider" class="google-sign-in-button"
                            value="@provider.Name" title="Log in using your @provider.DisplayName account">
                        <div id="google-customBtn">
                            <span class="google-icon"></span>
                            <span class="google-buttonText">Sign in with Google</span>
                        </div>
                    </button>
                }
            </form>
        </div>
    </center>
</div>
